.about-services__title {
  font-family: $roboto;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-services__example-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $roboto;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
}
