.info__title {
  font-family: $roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
}

.info__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ffffff;
}

.info__link {
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
