.services-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 12px;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.services-list__item {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.services-list__item:not(:first-child) {
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 27px;
    background-color: #ffffff;
    left: 0;
    top: -5px;
  }
}

.services-list__link {
  text-decoration: none;
  font-family: $roboto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
