.сommunication {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 34px;
  padding-left: 7px;
  width: 200px;
}

.сommunication__link {
  font-family: $roboto;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  &--phone {
    font-size: 22px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 9px;
  }

  &--email {
    font-size: 14px;
    text-decoration: underline;
    color: $blue-header;
    padding-left: 5px;
    padding-bottom: 12px;
  }

  &--button {
    display: block;
    width: 166px;
    min-height: 34px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 8px 15px;
    background-color: $orange;
    border-radius: 5px;
    margin-left: 20px;
  }
}
